
<nav>
    <div class="menu-icon">
        <span class="fas fa-bars"></span>
    </div>
    <div class="logo">
        <a asp-action="Index" asp-controller="Home"> MKIDZ</a>
    </div>
    <div class="nav-items d-lg-flex justify-content-lg-end">
        <ul class="d-lg-flex mt-3 ">
            <li><a asp-action="Index" asp-controller="Home">Audio Books</a></li>
            <li><a href="https://api.whatsapp.com/send?phone=31616161413&text=Assalaamou%20Alaikoum%2C%0A%0AWe%20hebben%20een%20probleem%20met%20de%20app.%0A%0ABeschrijf%20het%20probleem..">Contact</a></li>
        </ul>


    </div>
    <div class="search-icon">
        <span></span>
    </div>
    <div class="cancel-icon">
        <span class="fas fa-times"></span>
    </div>

</nav>

