@model List<DataModel>
@{
    
}

<div class="d-inline-flex bookLink2">
    @foreach (var file in Model)
    {
        <a class="bookLink" data-folderName="@file.Name" data-folderId="@file.Id">
            <div>
                <img src="@file.FolderImage" class="img " />
                <h3 class="d-flex folderName">@file.Name</h3>
            </div>
        </a>
    }
</div>

