@model List<DataModel>
@{
    ViewData["Title"] = "Home Page";
}

<div class="d-inline-flex">
    @foreach (var file in Model)
    {
        <a class="bookLink" data-folderName="@file.Name" data-folderId="@file.Id">
            <div>
                <img src="@file.FolderImage" class="img " />
                <h2 class="d-flex">@file.Name</h2>
            </div>
        </a>
    }
</div>

