@{
    ViewData["Title"] = "Home Page";
}

<div class="d-flex w-75">
    <div>
        <img src="~/book_1.jpeg" class="img border border-2 border-primary" />
    </div>
    <div >
        <img src="~/book_2.jpeg" class="img border border-2 border-primary" />
    </div>
</div>